---
layout: default
---
<section class="blog">
    {{ content }}
    <ul class="list">
        {% for post in site.posts %}
            <div class="well">
                <li>
                    <h2>
                        <a class="link" href="{{ post.url | relative_url }}" role="link">{{ post.title | escape }}</a>
                    </h2>
                    <time class="time">
                        {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                        {{ post.date | date: date_format }}
                    </time>
                    <p class="meta">
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ post.author }}</span>
                        </span>
                    </p>
                    <p class="meta">
                        {{ post.content | strip_html | escape | truncatewords: 80 }}
                    </p>
                    <div class="col-sm-3">
                        {% unless post.categories == empty %}
                            <ul class="tag_box inline">
                              <li><i class="glyphicon glyphicon-open"></i></li>
                              {% assign categories_list = post.categories %}
                              {% include JB/categories_list %}
                            </ul>
                        {% endunless %}
                    </div>
                    <div class="col-sm-3">
                        {% unless post.tags == empty %}
                            <ul class="tag_box inline">
                              <li><i class="glyphicon glyphicon-tags"></i></li>
                              {% assign tags_list = post.tags %}
                              {% include JB/tags_list %}
                            </ul>
                        {% endunless %}
                    </div>
                </li>
            </div>
        {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | relative_url }}" role="link">via RSS</a></p>
</section>
{% include deeplink.html %}