---
layout: default
---
<article class="home" role="article">
    <section class="landing" role="document">
        <p class="subtitle">A local organisation</p>
        <h1 class="title" role="presentation">With an international reputation</h1>
        <a class="start-button" href="{{ '/services' | relative_url }}" role="link">Services</a>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">Some content heading</h2>
        <p>Some content</p>
    </section>
    <section class="companies" role="document">
        <h2 role="presentation">Companies we work with</h2>
        <div class="company-gallerys">
            <div class="gallery"><img src="{{ '/assets/img/companies/xamarin.png' | relative_url }}" alt="Xamarin" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/microsoft.png' | relative_url }}" alt="Microsoft" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/24ent.png' | relative_url }}" alt="24-7 Entertainment" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/xablu.png' | relative_url }}" alt="XABLU" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/olo.png' | relative_url }}" alt="Olo" role="img"></div>
        </div>
    </section>
</article>