---
layout: default
---
<article class="home" role="article">
    <section class="landing" role="document">
        <p class="subtitle">An alliance of agilists</p>
        <h1 class="title" role="presentation">We can improve your organisational, team and technical agility</h1>
        <a class="start-button" href="{{ '/contact' | relative_url }}" role="link">Contact Us</a>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">A <a href="https://en.wikipedia.org/wiki/Johannesburg" target="_blank">local</a> organisation</h2>
        <p>With a <a href="https://www.google.com/search?q=%22Driven+Alliance%22+AND+%22kevin+trethewey%22+OR+%22shanaaz+trethewey%22+OR+%22janco+wolmarans%22+OR+%22adriaan+putter%22+OR+%22gareth+stephenson%22+OR+%22Barry+Tandy%22" target="_blank">global</a> reputation</p>
    </section>
    <section class="companies" role="document">
        <h2 role="presentation">Companies we've worked with...</h2>
        <div class="company-gallerys">
            <div class="gallery"><img src="{{ '/assets/img/clients/firstrand.png' | relative_url }}" alt="First Rand" role="img" /></div>
            <div class="gallery"><img src="{{ '/assets/img/clients/rmb.jpg' | relative_url }}" alt="Rand Merchant Bank" role="img" /></div>
            <div class="gallery"><img src="{{ '/assets/img/clients/standardbank.jpg' | relative_url }}" alt="Stand Bank of South Africa" role="img" /></div>
            <div class="gallery"><img src="{{ '/assets/img/clients/bidvestbank.png' | relative_url }}" alt="Bidvest Bank" role="img" /></div>
            <div class="gallery"><img src="{{ '/assets/img/clients/alexanderforbes.jpg' | relative_url }}" alt="Alexander Forbes" role="img" /></div>
            <div class="gallery"><img src="{{ '/assets/img/clients/fnb.jpg' | relative_url }}" alt="First National Bank" role="img" /></div>
            <div class="gallery"><img src="{{ '/assets/img/clients/debeers.png' | relative_url }}" alt="De Beers" role="img" /></div>
            <div class="gallery"><img src="{{ '/assets/img/clients/rms.jpg' | relative_url }}" alt="Remote Metering Solutions" role="img" /></div>
        </div>
    </section>
</article>