---
layout: default
---
<article class="home" role="article">
    <section class="landing" role="document">
        <p class="subtitle">An alliance of agilists</p>
        <h1 class="title" role="presentation">We can improve your organisational agility</h1>
        <a class="start-button" href="{{ '/contact' | relative_url }}" role="link">Contact Us</a>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">A <a href="https://en.wikipedia.org/wiki/Johannesburg">local</a> organisation</h2>
        <p>With a <a href="https://www.google.com/search?q=%22Driven+Alliance%22+AND+%22kevin+trethewey%22+OR+%22shanaaz+trethewey%22+OR+%22janco+wolmarans%22+OR+%22adriaan+putter%22+OR+%22gareth+stephenson%22+OR+%22Barry+Tandy%22">global</a> reputation</p>
    </section>
    <section class="companies" role="document">
        <h2 role="presentation">Companies we've worked with...</h2>
        <div class="company-gallerys">
        <img src="../../assets/img/clients/firstrand.png" />
        <img src="../../assets/img/clients/rmb.jpg" />
        <img src="../../assets/img/clients/standardbank.jpg" />
        <img src="../../assets/img/clients/bidvestbank.png" />
        <img src="../../assets/img/clients/alexanderforbes.jpg" />
        <img src="../../assets/img/clients/fnb.jpg" />
        <img src="../../assets/img/clients/debeers.png" />
        <img src="../../assets/img/clients/rms.jpg" />
        </div>
    </section>
</article>