---
layout: default
---
<article class="people" role="article">
    <section class="landing" role="document">
    </section>
    <section class="description" role="document">
        <h2 role="presentation">The Driven Team:</h2>
        <p>We're not big on titles. Expect the unexpected.</p>
    </section>
    <section class="bg-gray" role="document">
        <h2 role="presentation">Current</h2>
        <p>The people directly working to achieve our vision</p>
        <div class="container">
            {% assign current_people = site.people | where:"employeestatus","current" %}
            {% for person in current_people %}
                <div class="col-sm-3">
                    <div class="team-box team-box-animated">
                        <div class="inner">
                            <div class="front">
                                <img src="/assets/img/people/{{ person.imagefile }}-n.jpg" alt="" />
                                <h3>{{ person.author }}</h3>
                                <span>{{ person.employeenumber }}</span>
                            </div>
                            <div class="back">
                                <h3>{{ person.author }}</h3>
                                <span>{{ person.employeenumber }}</span>
                                <p>{{ person.tagline }}</p>

                                <div class="social-icons text-left">
                                  <ul>
                                    {% if person.twitter != nil and person.twitter.to_s != '' %}
                                      <li><a href="{{ person.twitter }}" class="twitter-alt" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    {% endif %}
                                    {% if person.facebook != nil and person.facebook.to_s != '' %}
                                      <li><a href="{{ person.facebook }}" class="facebook-alt" target="_blank"><i class="fa fa-facebook-official"></i></a></li> 
                                    {% endif %}
                                    {% if person.google != nil and person.google.to_s != '' %}
                                      <li><a href="{{ person.google }}" class="google-alt" target="_blank"><i class="fa fa-google-plus-official"></i></a></li>
                                    {% endif %}
                                    {% if person.linkedin != nil and person.linkedin.to_s != '' %}
                                      <li><a href="{{ person.linkedin }}" class="linkedin-alt" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    {% endif %}
                                  </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </section>
    <section class="bg-gray t-pad40 b-pad30" role="document">
        <h2 role="presentation">Alumni</h2>
        <p>Once a Driveneer, always a Driveneer...</p>
        <div class="container">
            {% assign alumni_people = site.people | where:"employeestatus","alumni" %}
            {% for person in alumni_people %}
                <div class="col-sm-3">
                    <div class="team-box team-box-animated">
                        <div class="inner">
                            <div class="front">
                                <img src="/assets/img/people/{{ person.imagefile }}-n.jpg" alt="" />
                                <h3>{{ person.author }}</h3>
                                <span>{{ person.employeenumber }}</span>
                            </div>
                            <div class="back">
                                <h3>{{ person.author }}</h3>
                                <span>{{ person.employeenumber }}</span>
                                <p>{{ person.tagline }}</p>

                                <div class="social-icons text-left">
                                  <ul>
                                    {% if person.twitter != nil and person.twitter.to_s != '' %}
                                      <li><a href="{{ person.twitter }}" class="twitter-alt" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    {% endif %}
                                    {% if person.facebook != nil and person.facebook.to_s != '' %}
                                      <li><a href="{{ person.facebook }}" class="facebook-alt" target="_blank"><i class="fa fa-facebook-official"></i></a></li> 
                                    {% endif %}
                                    {% if person.google != nil and person.google.to_s != '' %}
                                      <li><a href="{{ person.google }}" class="google-alt" target="_blank"><i class="fa fa-google-plus-official"></i></a></li>
                                    {% endif %}
                                    {% if person.linkedin != nil and person.linkedin.to_s != '' %}
                                      <li><a href="{{ person.linkedin }}" class="linkedin-alt" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    {% endif %}
                                  </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </section>

</article>


{% include deeplink.html %}